<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>113 Osprey Court, Secaucus, NJ 07094</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "9732205346" %></p>

    <h3>Email</h3>

    <p><a href="mailto:garlam@yahoo.com" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.1854101488348!2d-74.06479858459221!3d40.801919279322284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c257d99b4b856b%3A0xafbbb56300d403d1!2s113+Osprey+Ct%2C+Secaucus%2C+NJ+07094!5e0!3m2!1sen!2sus!4v1550078572599" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>



